.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f2f2f2;
}

.formContainer {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    margin-bottom: 5px;
}

.input,
.select {
    width: 100%;
    max-width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

.input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.button {
    background-color: #0070f3;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}

.button:hover {
    background-color: #0051cb;
}

.select {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    background: #ffffff;
    width: 100%;
    max-width: 100%;
}

.radioContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.radioLabel {
    margin-right: 1rem;
}

.tabContainer {
    display: flex;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: none;
    background: none;
    font-weight: bold;
    color: #555;
    outline: none;
    border-bottom: 2px solid transparent;
}

.tab.selected {
    color: #333;
    border-bottom-color: #333;
}